:root {
    --main-bg-color: #f0f0f0;
    --main-bg-light: #FFF;
    --main-text-color: #333;
    --main-text-light: #CCC;
    --primary-color: #007BFF;
    --secondary-color: #003670;
    --light-color: #FFF;
    --font-family: Arial, sans-serif;
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: var(--font-family);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

header {
    background-color: var(--primary-color);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: var(--light-color);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
}

nav a:hover {
    background-color: var(--secondary-color);
}

.nav-hide {
    display: none;
}

@media (width > 700px) {
    .nav-hide {
        display: block;
    }
}